
body{background:#000000;}
.lexus-pilares-bkg{background:#000000 url('../../images/lexuspilares/tema_bkg.jpg') 50% -15px no-repeat;padding-top: 125px;}
.jPanelMenu-panel{background: none !important;}
.page-container.lexus-pilares{background-color: #FFFFFF;}

.lexus-pilares h1.title{
	font-size: 3.125em;
	line-height: 1.275em;
	font-weight: normal;
	margin-bottom: 10px;
}

.box-cell.sidebar{padding-top: 20px;}

.lexus-pilares h1.title img{margin-top:-8px;}

.page-container.lexus-pilares .articles .article{border:0;}

.page-container.lexus-pilares .articles .article iframe{height:501px;}

.widget.twitter p.header-widget{
    padding:0;
    border: 0;
    margin: 0;
    background-color:#717274;
    border-bottom:solid 1px #000; 
}

@media screen and (max-width: 420px ){	
	body{background:#ffffff;}
	.page-container.lexus-pilares .articles .article iframe{height:auto;}
	.page-container.lexus-pilares {margin-top: 0px;}
	.lexus-pilares h1.title img {margin-top: 5px;}
	.articles .article .article-right {width: 95%;}
	.lexus-pilares .articles .article .summary{display: block;}
	.lexus-pilares-bkg{background:#ffffff;padding: 0;}
}

@media screen and (min-width: 421px) and ( max-width: 760px ) {	
	body {background:#ffffff;}
	.page-container.lexus-pilares {margin-top: 0px;}
}

@media screen and (min-width: 760px) and ( max-width: 1024px ) {	
	body {background:#ffffff;}
	.page-container.vida-lexus {margin-top: 0px;}

}