@media screen and (max-width:1000px) {
    .desktop.elecciones-2016-facebook {
        display: none
    }
}

@media screen and (max-width:640px) {
    .modal-login.login-wide .modal-dialog {
        width: 90%;
        margin: 0 auto
    }
    .modal-login.login-wide .right-login {
        padding: 0 30px
    }
    .modal-login.login-wide .login-suscription-message h2 {
        font-size: 1.15em;
        line-height: 25px;
        padding: 0 15px;
        margin-bottom: 10px
    }
    .modal-login.login-wide h3 {
        font-size: 1.15em;
        margin: 0 0 15px
    }
    .modal-login.login-wide .login-suscription-message a.btn-suscripcion {
        margin-bottom: 10px
    }
    .header-guia-compras .header {
        background: #fafafa;
        border: 1px solid #d8d8d8;
        padding: 10px;
        float: none;
        width: 100%
    }
    .header-guia-compras .header h4 {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px
    }
    .header-guia-compras .social-box {
        float: none;
        width: 100%;
        margin: 0
    }
    .header-guia-compras .social-box p {
        float: left;
        margin: 0;
        padding: 10px 0
    }
    .archive-guia-compras .social-box .social-share li a {
        padding: 10px
    }
    .archive-guia-compras .social-box .social-share li a.WA {
        padding: 8px 10px
    }
    .archive-guia-compras .articles .article figure img {
        width: 40%
    }
    .lexuspilares h3.title {
        font-size: 2.625em;
        background: url(../../images/lexuspilares/home_title.jpg) 100% 5px no-repeat
    }
    .lexuspilares .articles .article img {
        width: 100%
    }
    #addthis-email {
        width: 310px;
        margin: -80px 0 0 -185px
    }
    #addthis-email .at-header h5 {
        float: left;
        margin: 14px 0 0 10px;
        font-size: 20px;
        font-weight: 700
    }
    #addthis-email .input-block {
        line-height: 25px;
        height: 30px;
        padding: 0 10px
    }
    #addthis-email .input-block.autoHeight {
        height: 250px
    }
    #addthis-email .input-block.input-from {
        height: 55px
    }
    #addthis-email .input-block.suscribe {
        line-height: 10px;
        height: auto
    }
    #addthis-email .input-block span.suscribe {
        display: block;
        float: none;
        width: 100%;
        padding: 0
    }
    #addthis-email .input-block input[type=text] {
        width: 75%
    }
    #addthis-email .input-block input[type=submit] {
        float: none;
        margin: 5px auto 15px
    }
    #addthis-email .input-block textarea {
        height: 150px
    }
    #addthis-email.addthis-email-mobile {
        position: fixed;
        top: 0;
        left: 0;
        float: left;
        width: 100%;
        padding: 0;
        z-index: 2000;
        margin: 0
    }
    #modal_horoscopos .modal-form,
    .widget,
    .widget.most-popular {
        margin: 15px 0
    }
    #addthis-email.addthis-email-mobile .input-block textarea {
        height: 100%
    }
    #modal_horoscopos .modal-content {
        font-size: 16px
    }
    #modal_horoscopos .gform_wrapper .gform_description {
        width: 80%;
        font-size: 22px
    }
    #modal_horoscopos .gform_options,
    #modal_horoscopos .modal-form .gform_body {
        width: 80%
    }
    #modal_horoscopos .modal-form ul.gfield_checkbox {
        width: 100%
    }
    #modal_horoscopos .modal-form ul.gfield_checkbox li {
        width: 50%
    }
    #header_newsletter.widget {
        margin: 0
    }
    .widget.mobile_header_newsletter {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 100
    }
    .widget.mobile_header_newsletter h2 {
        font-size: 1.3125em;
        line-height: 1.5625em;
        margin: 0 0 10px;
        padding: 0
    }
    .newsletter .gform_wrapper {
        text-align: left
    }
    .newsletter .gform_wrapper .gform_description {
        text-align: left;
        font-size: 1em;
        line-height: 1.3em;
        padding: 0
    }
    .newsletter .gform_wrapper .top_label input.medium {
        border: 1px solid #000;
        text-transform: uppercase
    }
    .newsletter .gform_wrapper .gform_button {
        border: 1px solid #000;
        background-color: #000;
        padding: 7px 12px;
        margin-left: -3px;
        cursor: pointer
    }
    .newsletter .popup_custom_close {
        position: absolute;
        right: 0;
        top: 0
    }
    .newsletter .popup_custom_close a {
        padding: 10px 15px;
        display: block;
        cursor: pointer;
        color: #000;
        font-size: 25px
    }
    .guia-comunitaria,
    .guia-comunitaria img {
        width: 100%
    }
    #feeditems .item .gameinfo {
        height: auto;
        text-align: right
    }
    #feeditems .item .gamelogo img {
        width: 75%
    }
    #feeditems .item .gamelogo {
        width: auto;
        margin: 0
    }
    #feeditems .item .gameinfo h3 {
        font-size: 1em;
        margin: 0
    }
    #feeditems .item .gameinfo p {
        font-size: .75em
    }
    #feeditems .gamenumbers {
        margin-left: 0
    }
    #feeditems .item .number {
        line-height: 40px;
        width: 44px;
        height: 44px;
        margin-right: 4px
    }
    #feeditems .item .winnings {
        margin-left: 0;
        text-align: center
    }
    .other_states ul {
        width: 49%;
        margin: 0
    }
    #modal_change_password .modal-dialog,
    .login-profile,
    .modal-login .modal-dialog {
        width: auto
    }
    .lottery-list.lottery-seo #feeditems .gamenumbers {
        margin: 10px auto 0;
        text-align: center
    }
    .lottery-list.lottery-seo #feeditems .item {
        padding-bottom: 10px
    }
    .lottery-list.lottery-seo #feeditems .item .gameinfo h3 {
        font-size: 1.3em
    }
    .lottery-list.lottery-seo #feeditems .item .gameinfo {
        height: auto;
        text-align: left
    }
    .lottery-list.lottery-seo #feeditems .item .winnings h3 {
        margin: 5px 0 10px
    }
    .lottery-list.lottery-seo #feeditems .item .gameinfo p {
        font-size: 1.3125em;
        margin: 20px 0 0;
        text-transform: capitalize
    }
    .lottery-list.lottery-seo #feeditems .item .number {
        float: none;
        display: inline-block
    }
    .lottery-list.lottery-seo #feeditems .item .gamenumbers.daily_derby .number {
        display: block
    }
    .desktop-header .header-login a.btn-login {
        display: block;
        text-transform: uppercase;
        padding: 0;
        text-align: right;
        line-height: 11px;
        margin: 3px 0
    }
    .desktop-header .header-login a.btn-login .fa {
        font-size: 11px;
        margin-right: 4px
    }
    .desktop-header .header-login a.btn-signup {
        display: block;
        font-size: 11px;
        background: 0 0;
        color: #fff;
        font-weight: 700;
        padding: 0;
        text-align: right
    }
    .login-profile .form-inline.text-right,
    .single-article .article-content .ad-paywall-article p {
        text-align: center
    }
    .top-login .user-name {
        font-size: 11px;
        display: inline-block
    }
    .top-login .user-name.logged-in {
        display: none
    }
    .ad-paywall button {
        display: block;
        margin: 6px auto
    }
    .paywall-confirmation .most-popular .col-md-4 {
        min-height: auto
    }
    .paywall-confirmation .most-popular .col-md-4 img {
        width: auto;
        height: auto
    }
    .paywall-confirmation .title {
        line-height: 1.3125em
    }
    .login-profile .form-group .control-label {
        width: 100%
    }
    .login-profile .form-inline {
        position: relative
    }
    .login-profile .form-group.pull-right {
        position: absolute;
        right: 14px;
        top: 33px
    }
    .login-landing h2 {
        font-size: 1.3em
    }
    .login-landing .row {
        margin: 40px 0 0
    }
    .login-landing .row .col-xs-6.col-md-4 {
        width: auto;
        margin: 0 20px 20px
    }
    .ad-paywall-article {
        float: none;
        width: auto;
        margin: 0
    }
    .header-login .top-login .btn-login,
    .header-login .top-login .btn-user {
        padding: 4px 10px 0 0;
        display: inline-block;
        font-size: 1.4em
    }
    .fbk-like .gform_wrapper .gform_description {
        padding: 20px 20px 0
    }
}

@media screen and (max-width:500px) {
    .desktop-header .ad_120x60,
    .desktop-header .header-date,
    .desktop-header .weather span,
    .social-share li a span,
    .top-links .link-juegos {
        display: none
    }
    .social-share li a {
        padding: 9px 10px
    }
    .social-share .WA {
        padding: 7px 9px!important
    }
    .desktop-header {
        padding: 0;
        height: auto
    }
    .desktop-header .brand-logo {
        height: auto;
        padding: 6px 0;
        width: 65%;
        text-align: center
    }
    .desktop-header .brand-logo h1 {
        height: 25px;
        background-size: contain;
        background-position: center center;
        margin: 0;
        width: 100%
    }
    .desktop-header .header-login {
        width: 22%;
        float: left;
        padding: 0
    }
    .desktop-header .icons,
    .desktop-header .weather {
        text-align: center;
        width: 15%;
        padding: 0
    }
    .desktop-header .header-login a.btn-user .user-name {
        font-size: 12px
    }
    .desktop-header .icons {
        margin: 0;
        display: table-cell;
        vertical-align: middle
    }
    .desktop-header .icons .menu-icon {
        padding: 0;
        display: block;
        float: none
    }
    .desktop-header .weather a {
        vertical-align: middle
    }
    footer .copyright .privacy {
        border: none;
        display: block;
        padding: 0;
        margin: 0
    }
    .suscribe-content .newsletter .row {
        margin: 0
    }
    .suscribe-content .newsletter .row .col-md-4:last-child .list-content {
        margin-bottom: 0
    }
    .suscribe-content .newsletter .row .col-md-4 .inner-content {
        min-height: auto
    }
    .suscribe-content .title {
        line-height: 1.3125em;
        margin: 20px 0 0
    }
    .suscribe-content .title:before {
        margin-bottom: 20px
    }
    .suscribe-content .newsletter .ginput_container_text input {
        width: 100%
    }
    .suscribe-content .confirm-btns .btn {
        padding: 10px .5em;
        font-size: .9375em
    }
}

@media screen and (min-width:1200px) {
    .single-article .article-info .byline .author_image {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        display: block
    }
    .single-article .article-info {
        position: relative;
        max-width: 625px;
        margin-left: auto;
        margin-right: 3%
    }
    .single-article .article-info .byline {
        width: 112px;
        position: absolute;
        top: 0;
        left: -200px
    }
    .single-article .byline span {
        display: block;
        color: gray;
        font-style: italic
    }
    .single-article .byline .author_name {
        color: #8EBFE5;
        font-style: normal;
        margin-bottom: 2em
    }
    .single-article .byline .author_and_date {
        text-align: right;
        margin: 7px 0
    }
    .single-article .byline time {
        display: block;
        color: #707070;
        text-transform: uppercase;
        font-size: .9em
    }
}

@media screen and (max-width:380px) {
    .desktop-header .weather span {
        display: block;
        float: none;
        font-size: .7em;
        font-weight: 400
    }
    .desktop-header .weather i {
        display: block;
        float: none
    }
    .desktop-header {
        height: 80px
    }
    .latinowire-title a {
        float: none;
        text-indent: -100000px;
        width: 100%;
        background-size: contain
    }
    .latinowire-nav {
        margin: 10px 0 0;
        text-align: right;
        float: none;
        width: 100%
    }
    .historiasdeny figure .fa {
        top: 35%!important;
        font-size: 25px!important;
        padding: 10px!important;
        margin: -20px 0 0 -20px!important
    }
    .historiasdeny figure figcaption {
        padding: 10px!important
    }
    .historiasdeny figure figcaption p {
        font-size: 1.2em!important;
        line-height: 1.2em!important
    }
    .becas-edison h1.title {
        font-size: 1.1em
    }
    .becas-edison h1.title img {
        height: 22px
    }
    .category.elecciones-2016 .title img,
    .elecciones-2016 .header img {
        width: 200px;
        margin: 5px
    }
    .articles .article-wide .video figure {
        width: 100%;
        height: 170px
    }
    .caleitc .title a {
        width: 270px;
        height: 84px
    }
}

@media screen and (min-width:640px) {
    .page-container {
        max-width: 1260px;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
        position: relative
    }
}

@media screen and (max-width:767px) {
    .top-links {
        padding: 5px 0;
        height: 28px;
        overflow: hidden
    }
    .top-links li {
        display: inline-block
    }
    .desktop-header .brand-logo p {
        display: none
    }
    .social-box h3 {
        float: left;
        text-align: left;
        width: 24%;
        margin: 0;
        font-size: 18px;
        line-height: 40px
    }
    .social-share {
        list-style: none;
        display: block;
        text-align: right;
        width: 76%;
        float: right
    }
    .social-share li {
        display: inline-block;
        margin: 0;
        padding: 0 1px 0 0
    }
    .social-share li.WA {
        display: table-cell
    }
    .newsletter-horoscopos {
        float: none;
        width: 100%;
        margin-top: 10px
    }
    .tag-nav {
        overflow-x: scroll;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        padding: 10px 0
    }
    .sales_tags .tag-nav {
        padding: 4px 0!important
    }
    .tag-nav::-webkit-scrollbar {
        height: 0!important
    }
    .tags-nav {
        overflow-x: scroll;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none
    }
    .tags-nav::-webkit-scrollbar {
        height: 0!important
    }
    .elecciones-2016-menu ul {
        line-height: 2rem
    }
    .elecciones-2016-menu ul li {
        display: table-cell;
        padding: 0 30px 0 0
    }
    .elecciones-2016-menu ul li:last-child,
    .sign-box {
        padding: 0
    }
    .elecciones-2016-menu ul li a {
        font-size: 14px
    }
    #horoscope-tabs.nav-tabs>li {
        width: 50%
    }
    .sign-box {
        margin: 0
    }
    .sign-box .large-sign {
        float: none;
        margin: 0 auto 35px;
        width: 100%;
        max-width: inherit
    }
    .sign-box .large-sign img {
        width: 27%;
        max-width: 150px;
        margin: 0 5% 0 0;
        float: left
    }
    .sign-box .large-sign h2 {
        margin-top: 20px;
        float: left;
        width: 65%;
        text-align: left
    }
    .sign-box .large-sign p {
        margin: 0;
        float: left
    }
    .birthday .birthday-summary img {
        margin-right: 0;
        float: none;
        width: 100%
    }
    .birthday .birthday-content {
        margin: 15px
    }
    .sign-box .summary {
        margin: 0 -20px 10px
    }
    .sign-box .summary.work a,
    .sign-box .summary.love a {
    	text-align: center;
    	display: block;
    }
    .articles .article.no-image .article-right {
        width: 100%
    }
    .corner {
        display: none
    }
    .articles.list.opinion::before {
        content: '';
        display: block;
        background: 0 0;
        height: auto;
        width: auto;
        margin-top: 0
    }
    .articles.list.opinion {
        background: 0 0;
        padding: 0
    }
    .articles.list.opinion .column {
        width: auto;
        border: 0;
        padding: 0;
        margin: 0 0 5px;
        height: auto;
        min-height: inherit
    }
    .articles.list.opinion .column article.article {
        background: #eaeaea;
        margin: 0;
        padding: 10px
    }
    .articles.list.opinion .column article.article h4 {
        display: block;
        height: auto;
        margin: 0 0 .5em;
        font-size: 1em
    }
    .articles.list.opinion .column article.article h2 {
        font-size: 1em
    }
    .articles.list.opinion .article {
        border: 0
    }
    .entretenimiento h3.title {
        background: 0 0;
        color: #000;
        border-bottom: 0;
        text-align: left;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.3em;
        line-height: 1.8em
    }
    .entretenimiento h3.title::before {
        display: block
    }
    .entretenimiento h3.title a {
        color: #000!important
    }
    .entretenimiento .item {
        background: 0 0;
        color: #000;
        padding: 10px 0;
        border-bottom: 1px solid #ddd
    }
    .entretenimiento .item:nth-child(odd) {
        background: 0 0
    }
    .entretenimiento .item figure {
        position: relative;
        width: 110px;
        float: left;
        margin-right: 10px
    }
    .entretenimiento .item figure img {
        width: 100%
    }
    .entretenimiento .item h2 {
        margin: 0;
        font-size: 1.1em;
        line-height: 1.2em
    }
    .entretenimiento .item h2 a {
        color: #000
    }
    .horoscope .nino-prodigio {
        margin-top: -10px
    }
    .horoscope .horoscope-breadcrumb {
        font-size: 15px
    }
    .horoscope .horoscope-header h1 {
        height: 68px;
        line-height: 25px;
        font-size: 18px;
        padding-top: 5px;
        text-align: left
    }
    .horoscope .horoscope-header h1 strong {
        display: block
    }
    .newsletter-horoscopos .gform_wrapper .gform_description {
        font-size: 15px;
        line-height: 20px
    }
    .newsletter-horoscopos .gform_heading {
        width: 100%;
        float: none;
        margin-bottom: 10px
    }
    .newsletter-horoscopos .gform_body {
        width: 62%;
        margin: 0;
        float: none
    }
    .horoscope-signs li {
        width: 22%;
        margin: 15px 3% 15px 0
    }
    .newsletter-titles {
        display: none
    }
    .title .sponsorship {
        height: 40px;
        margin: -25px 0 0 20px
    }
    .sponsor-logo img.sponsorship {
        height: 45px
    }
    .column .media-icon {
        left: 0;
        top: 0;
        float: left;
        position: relative;
        margin-left: -45%
    }
    .suscribe-content .newsletter .row {
        margin: 0
    }
    .suscribe-content .newsletter .col-md-4 .list-content {
        margin: 100px 0
    }
    .suscribe-content .newsletter .col-md-4 .register-email input {
        width: 75%
    }
    .suscribe-content .newsletter .col-md-4 .register-email button {
        width: 20%
    }
    .suscribe-content h2 {
        font-size: 1.125em
    }
    .suscribe-content h1 {
        font-size: 1.75em
    }
}

@media screen and (min-width:930px) {
    .sidebar {
        width: 300px;
        display: table-cell
    }
    .sidebar .ad_300x250 {
        margin-top: 0
    }
    .single-article {
        padding-right: 20px
    }
}

@media screen and (min-width:600px) and (max-width:767px) {
    .highlight .secondary-highlight {
        float: left;
        width: 33.3333%;
        margin-right: 0;
        border-right: 1px solid #fff
    }
    .highlight .secondary-highlight:last-child {
        border-right: 0
    }
    .highlight .secondary-highlight h2 {
        padding: 10px
    }
    .highlight .secondary-highlight .feat-image {
        float: none;
        width: 100%
    }
    .highlight .secondary-highlight .transparent {
        min-height: 90px
    }
}

@media screen and (min-width:768px) {
    .searchbox .searchinput,
    .searchbox .searchinput:focus {
        background: rgba(0, 0, 0, .2)
    }
    .author .summary,
    .author h1,
    .single-article .article-content blockquote p {
        text-align: left
    }
    .top-links li.link-guia,
    .top-links li.link-md,
    .top-links li.link-publica {
        display: table-cell
    }
    .top-links li.link-horoscopo {
        border-right: 1px solid #000
    }
    .desktop-header .icons .menu-icon {
        font-size: 2.2em;
        padding: 10px .5em 0 0;
        margin-right: .5em
    }
    .searchbox {
        display: block!important;
        float: left
    }
    .searchbox .searchinput {
        width: 40px;
        visibility: hidden;
        border: none;
        border-radius: 18px;
        padding: 10px 0;
        font-size: 1em;
        line-height: 1.6em;
        color: #fff;
        display: block;
        float: left;
        transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out
    }
    .searchbox:hover .searchinput {
        width: 100%;
        visibility: visible;
        background: rgba(0, 0, 0, .2);
        padding: 10px 40px 10px 10px
    }
    .searchbox .button {
        display: block;
        font-size: 2em;
        float: left;
        height: 36px;
        width: 36px;
        border: none;
        margin-left: -40px;
        position: relative;
        color: #FFF;
        background: 0 0
    }
    .desktop-header time {
        display: inline-block
    }
    .top-social {
        list-style: none;
        float: right;
        margin: 0;
        display: block
    }
    .main-nav,
    .mobile-brand {
        display: none
    }
    .top-social a {
        font-size: 1.6em;
        padding: 0 .41em
    }
    .top-login {
        float: right;
        margin: 6px 0 0
    }
    .navbar-header {
        float: none
    }
    .main-nav {
        background: 0 0
    }
    .tag-nav {
        padding: 7px 0
    }
    .tag-nav li {
        padding: 0 30px
    }
    .tag-nav li a {
        font-size: 1.1em;
        font-weight: 300
    }
    .navbar-collapse.collapse {
        display: none!important
    }
    .content {
        float: left;
        width: 70%;
        max-width: 930px;
        margin-top: 15px
    }
    footer .publications a {
        font-size: .9em;
        text-transform: uppercase;
        padding: 0 5px
    }
    .highlight {
        margin-bottom: 15px
    }
    .highlight .article.main-highlight {
        float: left;
        margin-right: 2px;
        position: relative;
        width: 69%;
        height: 473px;
        max-height: 473px;
        overflow: hidden;
        background-size: cover;
        background-position: 100% 0
    }
    .highlight .article.main-highlight img {
        opacity: .8
    }
    .highlight .article.main-highlight:hover img {
        opacity: 1
    }
    .highlight .article.main-highlight .category {
        display: none
    }
    .articles .article .summary,
    .highlight .secondary-highlight .category {
        display: block
    }
    .highlight .article.main-highlight h2 {
        font-size: 2em!important;
        line-height: 1.3em
    }
    .highlight .main-highlight .transparent {
        background: url(../../images/layout/bg-black.png) bottom left repeat-x;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 60px 15px 40px;
        overflow: hidden
    }
    .highlight .secondary-highlight {
        position: relative;
        background-size: cover;
        width: 29%;
        max-width: 305px;
        margin: 0 0 2px;
        height: 156px;
        max-height: 156px;
        overflow: hidden
    }
    .highlight .secondary-highlight img {
        width: 100%;
        opacity: .8
    }
    .highlight .secondary-highlight:hover img {
        opacity: 1
    }
    .highlight .secondary-highlight .transparent {
        background: url(../../images/layout/bg-secondary-highlight.png);
        background-size: cover;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0 10px 5px
    }
    .highlight .secondary-highlight h2 {
        font-size: 1.3em;
        line-height: 1.2em;
        font-weight: 400;
        padding: 0;
        color: #fff
    }
    .highlight .secondary-highlight h2 a {
        color: #fff
    }
    .highlight .secondary-highlight .media-icon {
        right: 0;
        left: auto
    }
    .title {
        font-size: 1.8em;
        margin-bottom: .5em
    }
    .title:before {
        width: 45px;
        margin-bottom: 12px
    }
    .articles.list .column {
        width: 32.333%;
        margin-right: 1%;
        float: left
    }
    .articles.instagram_widget ul.instagram-pics .column {
        width: 33.333%;
        margin: 0
    }
    .articles.list .article {
        position: relative;
        border: 0;
        padding: 0;
        margin: 0 0 15px;
        height: 300px
    }
    .articles.instagram_widget ul.instagram-pics .article {
        margin: 0
    }
    .articles .article .article-right {
        float: none;
        width: 100%
    }
    .articles.list .article .category {
        background: #000;
        color: #FFF;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        padding: 5px
    }
    .articles.list .article .category a {
        color: #fff
    }
    .articles.list .article .time {
        display: none
    }
    .articles.list .article figure {
        width: 100%;
        float: none;
        max-height: 175px;
        overflow: hidden;
        margin-bottom: 15px
    }
    .articles.list .article .feat-image {
        width: 100%;
        display: block;
        float: none;
        height: 175px;
        overflow: hidden;
        margin-bottom: 15px;
        background-size: cover;
        background-repeat: no-repeat
    }
    .articles.instagram_widget ul.instagram-pics i {
        color: #FFF;
        float: left;
        z-index: 1;
        font-size: 35px;
        padding: 10px;
        height: 0;
        position: relative;
        text-shadow: 0 0 5px #000
    }
    .articles.instagram_widget ul.instagram-pics figure {
        width: 100%;
        float: left;
        position: relative;
        max-height: 300px;
        overflow: hidden;
        margin: -20px 0 0
    }
    .articles.instagram_widget ul.instagram-pics p {
        float: left;
        position: relative
    }
    .articles.instagram_widget ul.instagram-pics p a {
        color: #FFF;
        text-shadow: 2px 2px 4px #000
    }
    .articles.list .article figure img {
        width: 100%
    }
    .articles.list .article h2 {
        font-size: 1.6em
    }
    .widget_home_section.articles .wide {
        width: 70%;
        max-width: 620px;
        margin: 0;
        padding: 0 15px 0 0;
        display: table-cell;
        vertical-align: top
    }
    .widget_home_section.articles .wide .article {
        position: relative;
        border: 0;
        padding: 0;
        margin: 0
    }
    .widget_home_section.articles .wide .article figure {
        max-height: 445px;
        overflow: hidden;
        width: 100%;
        margin-bottom: 15px
    }
    .widget_home_section.articles .wide .article .category {
        position: absolute;
        left: 0;
        top: 0;
        background: #000
    }
    .widget_home_section.articles .wide .article .category a {
        color: #fff;
        padding: 4px 6px;
        font-size: .9em
    }
    .widget_home_section.articles .wide .article .meta {
        display: none
    }
    .widget_home_section.articles .wide .article h2 {
        font-size: 2em
    }
    .widget_home_section.articles .right-column {
        display: table-cell;
        vertical-align: top
    }
    .btn-see-more,
    .widget_home_section.articles .right-column .article .meta {
        display: none
    }
    .widget_home_section.articles .right-column .article {
        border: 0;
        margin-bottom: 30px;
        padding: 0
    }
    .widget_home_section.articles .right-column .article:first-child {
        border-top: 0;
        margin-top: 0;
        padding-top: 0
    }
    .widget_home_section.articles .right-column .article figure {
        max-width: 114px;
        max-height: 88px;
        overflow: hidden;
        width: auto;
        float: left;
        margin-right: 5%
    }
    .widget_home_section.articles .right-column .article figure img {
        width: 100%
    }
    .single-article h1 {
        font-size: 3.4em;
        margin-bottom: .4em
    }
    .single-article .article-image {
        margin-bottom: 20px
    }
    .single-article .summary {
        font-size: 1.2em;
        line-height: 1.2em;
        margin-bottom: 20px
    }
    .single-article .article-content {
        max-width: 728px;
        margin-left: auto;
        margin-right: 0;
        font-size: 1.5rem;
        line-height: 1.8em
    }
    .single-article .article-content p {
        font-size: 1.1em;
        margin: .75em 0 1.5em
    }
    .single-article .article-content img.alignleft {
        float: left;
        margin: 0 10px 10px 0
    }
    .single-article .article-content>p:first-child:first-letter {
        font-size: 5em;
        font-weight: 700;
        line-height: 1em;
        float: left;
        margin-right: .2em;
        color: #8EBFE5
    }
    .single-article .article-content blockquote {
        color: #8ebfe5;
        float: none;
        width: 100%;
        text-align: left;
        font-size: 1.2em;
        line-height: 1.3em;
        font-weight: 700;
        padding-left: 15px;
        border-left: 4px solid #333
    }
    .single-article .article-content blockquote.instagram-media {
        float: none!important
    }
    .single-article .article-comments {
        width: 100%;
        max-width: 728px;
        margin-left: auto;
        margin-right: 0;
        display: block
    }
    .single-article .article-comments .comments-title {
        font-size: 1.8em;
        display: block
    }
    .single-article .article-comments .btn-comment {
        display: none
    }
    .single-article .article-comments .fb-comments {
        display: block
    }
    #more-articles .article {
        float: left;
        width: 32%;
        margin-right: 1%;
        margin-bottom: 0;
        min-height: 325px
    }
    .category .highlight .article.main-highlight img,
    .recomend .article figure img {
        width: 100%
    }
    #more-articles .article .category,
    #more-articles .article.has-image .summary {
        display: none
    }
    #more-articles .article.last {
        margin-right: 0
    }
    .recommend .article {
        float: none
    }
    .single-article .newsletter {
        margin-bottom: 35px
    }
    .newsletter .inputtext {
        padding: 3px 8px
    }
    .category .highlight .article.main-highlight {
        float: none;
        width: 100%
    }
    .articles.vertical-list .article:first-child {
        border-top: 0
    }
    .articles.vertical-list .article h2,
    .articles.vertical-list .article-wide h2 {
        font-size: 1.8em
    }
    .articles.vertical-list .article .category,
    .articles.vertical-list .article-wide .category {
        display: inline-block;
        font-size: 1.1em
    }
    .articles.vertical-list .article .time,
    .articles.vertical-list .article-wide .time {
        font-size: 1em
    }
    #horoscope-tabs .tab-content {
        border: 1px solid #ddd;
        border-top: 0;
        padding: 30px
    }
    .sign-box {
        padding: 30px 0
    }
    .sign-box .large-sign img {
        float: left
    }
    .birthday .birthday-summary .birthday-content {
        padding: 30px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min--moz-device-pixel-ratio:2), only screen and (-o-min-device-pixel-ratio:2 / 1), only screen and (min-device-pixel-ratio:2), only screen and (min-resolution:192dpi), only screen and (min-resolution:2dppx) {
    .ig-b-v-24 {
        background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png);
        background-size: 160px 178px
    }
}