body{
	background:#000000 url('../../images/vidalexus/tema_bkg.jpg') 50% 5px repeat;
}
.jPanelMenu-panel{
	background: none !important;
}
.page-container.vida-lexus{
	background-color: #FFFFFF;
	margin-top: 126px;
}

.vida-lexus h1.title{
	font-size: 3.125em;
	line-height: 1.275em;
	font-weight: normal;
	margin-bottom: 10px;
}

.vida-lexus h1.title img{
	margin-top:-8px;
}

.page-container.vida-lexus .articles .article{
	border:0;
}

.widget.twitter p.header-widget{
    padding:0;
    border: 0;
    margin: 0;
}

@media screen and (max-width: 420px ){	
	body{
		background:#000000 url('../../images/vidalexus/lexus-mobile-header300.jpg') 0px 60px no-repeat;
	}

	.page-container.vida-lexus {
		margin-top: 60px;
	}
}

@media screen and (min-width: 421px) and ( max-width: 760px ) {	
	body {
		background:#000000 url('../../images/vidalexus/lexus-mobile-header300.jpg') 0px 105px no-repeat;
	}

	.page-container.vida-lexus {
		margin-top: 60px;
	}

}

@media screen and (min-width: 760px) and ( max-width: 1024px ) {	
	body {
		background:#000000 url('../../images/vidalexus/lexus-mobile-header.jpg') 0px 142px no-repeat;
	}

	.page-container.vida-lexus {
		margin-top: 105px;
	}

}